name: Test JS

on:
  pull_request:
  workflow_dispatch:
  workflow_call:

jobs:
  test_js:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/prepare
      - run: pnpm run test:js-run
      - uses: codecov/codecov-action@v5
